/* 
**
*** PÁGINA DE EVENTOS
*** SINGLE DE EVENTO
**
*/

/* PÁGINA DE EVENTOS */
.pg-eventos{

}
	.pg-eventos .secao-eventos{
		padding: 150px 0;
		background-color: var(--cinza-fundo);
	}
		.pg-eventos .secao-eventos .lista-eventos{

		}
			.pg-eventos .secao-eventos .lista-eventos li{
				margin: 0 0 50px;
			}
				.pg-eventos .secao-eventos .lista-eventos li .link-imagem{

				}
					.pg-eventos .secao-eventos .lista-eventos li .link-imagem figure{

					}
						.pg-eventos .secao-eventos .lista-eventos li .link-imagem figure img{

						}
				.pg-eventos .secao-eventos .lista-eventos li .data-evento{

				}
				.pg-eventos .secao-eventos .lista-eventos li .link-titulo{

				}
					.pg-eventos .secao-eventos .lista-eventos li .link-titulo .titulo{

					}
/* PÁGINA DE EVENTOS */


/* SINGLE DE EVENTO */
.pg-evento{}
	.pg-evento .secao-destaque-single{
		/*background-image: url(../img/diplay_evento.png);*/
		height: 300px;
	}
	.pg-evento .secao-conteudo-evento{
		padding: 0 0 100px;
	}
		.pg-evento .secao-conteudo-evento .voltar{
			display: inline-block;
			float: left;
			margin: 0 0 0 105px;
			width: 100%;
			max-width: 28px;
		}
			.pg-evento .secao-conteudo-evento .voltar img{
				width: 100%;
				max-width: 28px;
			}
		.pg-evento .secao-conteudo-evento article{
			width: 100%;
			max-width: 800px;
			display: block;
			margin: 60px auto 0;
		}
			.pg-evento .secao-conteudo-evento article .titulo{
				text-align: center;
				width: 100%;
				max-width: 600px;
				display: block;
				margin: 0 auto;
			}
			.pg-evento .secao-conteudo-evento article .data-evento{
				text-align: center;
				display: block;
				font-size: 12px;
				font-weight: 600;
				font-family: var(--roboto);
				color: var(--cinza);
				letter-spacing: 3px;
				text-transform: uppercase;
				margin: 31px 0 22px;
			}
			.pg-evento .secao-conteudo-evento article p{
				width: 100%;
				max-width: 600px;
				display: block;
				margin: 0 auto;
				font-size: var(--font-size-texto);
				color: var(--cinza);
				font-family: var(--roboto);
			}
			.pg-evento .secao-conteudo-evento article figure{
				margin: 55px 0 52px;
			}
				.pg-evento .secao-conteudo-evento article figure img{
					width: 100%;
					max-width: 100%;
					height: auto;
				}
			.pg-evento .secao-conteudo-evento article h2, .pg-evento .secao-conteudo-evento article h3, .pg-evento .secao-conteudo-evento article h4{
				width: 100%;
				max-width: 600px;
				display: block;
				margin: 20px auto;
				font-size: var(--roboto);
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: 3px;
			}
			.pg-evento .secao-conteudo-evento article h2{
				font-size: 14px;
			}
			.pg-evento .secao-conteudo-evento article h3{
				font-size: 13px;
			}
			.pg-evento .secao-conteudo-evento article h4{
				font-size: 12px;
			}
			.pg-evento .secao-conteudo-evento article ul, .pg-evento .secao-conteudo-evento article ol{
				padding: 0;
				width: 100%;
				max-width: 600px;
				display: block;
				margin: 10px auto;
			}
			.pg-evento .secao-conteudo-evento article ul li, .pg-evento .secao-conteudo-evento article ol li{
				display: list-item;
				list-style: unset;
				list-style-position: inside;
			}
			.pg-evento .secao-conteudo-evento article ul{}
				.pg-evento .secao-conteudo-evento article ul li{}
			.pg-evento .secao-conteudo-evento article ol{}
				.pg-evento .secao-conteudo-evento article ol li{}
	.pg-evento .secao-eventos-relacionados{
		background-color: var(--cinza-fundo);
		padding: 80px 0;
	}
		.pg-evento .secao-eventos-relacionados .titulo{
			text-align: center;
			padding: 0 0 75px;
		}
		.pg-evento .secao-eventos-relacionados .lista-eventos{

		}
			.pg-evento .secao-eventos-relacionados .lista-eventos li{

			}
				.pg-evento .secao-eventos-relacionados .lista-eventos li .link-imagem{

				}
					.pg-evento .secao-eventos-relacionados .lista-eventos li .link-imagem figure{

					}
						.pg-evento .secao-eventos-relacionados .lista-eventos li .link-imagem figure img{

						}
				.pg-evento .secao-eventos-relacionados .lista-eventos li .data-evento{

				}
				.pg-evento .secao-eventos-relacionados .lista-eventos li .link-titulo{

				}
					.pg-evento .secao-eventos-relacionados .lista-eventos li .link-titulo .titulo{
						text-align: left;
						padding: 0;
					}
/* SINGLE DE EVENTO */


/* MEDIA QUERY */
@media(max-width: 1200px){}

@media(max-width: 991px){
	.pg-eventos .secao-eventos {
		padding: 70px 0 20px;
	}
	.pg-evento .secao-conteudo-evento .voltar {
		margin: 0;
	}
}

@media(max-width: 800px){
	.pg-eventos .secao-eventos {
		padding: 50px 0 10px;
	}
}

@media(max-width: 768px){
	.pg-evento .secao-conteudo-evento article {
		margin: 25px auto 0;
	}
	.pg-evento .secao-conteudo-evento .voltar {
		margin: 30px 0 0;
		float: unset;
	}
	.pg-evento .secao-conteudo-evento {
		padding: 0 0 40px;
	}
	.pg-evento .secao-eventos-relacionados {
		padding: 45px 0 60px;
	}
	.pg-evento .secao-eventos-relacionados .titulo {
		padding: 0 0 45px;
	}
}

@media(max-width: 500px){
	.pg-evento .secao-conteudo-evento article .data-evento {
		margin: 15px 0 30px;
		text-align: left;
	}
	.pg-evento .secao-conteudo-evento article .titulo {
		text-align: left;
	}
	.pg-evento .secao-conteudo-evento .voltar{
		margin: 30px 30px 0;
	}
	.pg-evento .secao-conteudo-evento .small-container{
		padding: 0;
	}
	.pg-evento .secao-conteudo-evento article .titulo,
	.pg-evento .secao-conteudo-evento article .data-evento,
	.pg-evento .secao-conteudo-evento article p,
	.pg-evento .secao-conteudo-evento article h2,
	.pg-evento .secao-conteudo-evento article h3,
	.pg-evento .secao-conteudo-evento article h4,
	.pg-evento .secao-conteudo-evento article ul,
	.pg-evento .secao-conteudo-evento article ol{
		padding: 0 30px;
	}
	.pg-evento .secao-destaque-single {
		height: 190px;
	}
	.pg-evento .secao-eventos-relacionados .titulo {
		text-align: left;
	}
}