/* PÁGINA SERVIÇOS */
.pg-servicos{}
	.pg-servicos section.servico-destaque{
		min-height: 513px;
		background-size: 1545.1px;
		background-repeat: no-repeat!important;
		padding-top: 110px;
		background-position: center;
		background-color: #12151a;
	}
		.pg-servicos section.servico-destaque .servico-destaque-texto{}
			.pg-servicos section.servico-destaque .servico-destaque-texto h3.titulo{
				color: #fff;
				font-size: var(--font-size-titulo-destaque);
				line-height: var(--line-height-titulo-destaque);
			}
			.pg-servicos section.servico-destaque .servico-destaque-texto p{
				color: #fff;
				margin: 20px 0 32px;
				opacity: 0.8;
				font-size: var(--font-size-texto);
				line-height: var(--line-height-texto);
			}
		.pg-servicos section.servico-destaque>figure{
			display: none;
		}
			.pg-servicos section.servico-destaque figure img{}
			.pg-servicos section.servico-destaque figure figcaption{}
		.pg-servicos section.servico-destaque nav.servico-destaque-menu{
			max-width: 1200px;
			width: 100%;
			padding-top: 86px;
		}
			.pg-servicos section.servico-destaque nav.servico-destaque-menu .categoria-ativa{
				height: 100%;
				display: block;
				width: 100%;
				background-color: #13151b;
				display: none;
				position: relative;
				height: 91px;
			}
			.pg-servicos section.servico-destaque nav.servico-destaque-menu .categoria-ativa::before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 5px;
				background-color: #fff;
			}
				.pg-servicos section.servico-destaque nav.servico-destaque-menu .categoria-ativa a{
					display: block;
					font-size: 0;
					padding: 25.5px 30px;
				}
					.pg-servicos section.servico-destaque nav.servico-destaque-menu .categoria-ativa a .categoria-ativa-imagem, .pg-servicos section.servico-destaque nav.servico-destaque-menu .categoria-ativa a .categoria-ativa-titulo{
						display: inline-block;
						width: 100%;
						vertical-align: middle;
					}
					.pg-servicos section.servico-destaque nav.servico-destaque-menu .categoria-ativa a .categoria-ativa-imagem{
						max-width: 10%;
						height: 40px;
						line-height: 40px;
					}
						.pg-servicos section.servico-destaque nav.servico-destaque-menu .categoria-ativa a .categoria-ativa-imagem img{
							width: 100%;
							max-width: 40px;
						}
					.pg-servicos section.servico-destaque nav.servico-destaque-menu .categoria-ativa a .categoria-ativa-titulo{
						color: #fff;
						margin: 0;
						max-width: 90%;
						font-size: 14px;
						line-height: 18px;
						position: relative;
					}
					.pg-servicos section.servico-destaque nav.servico-destaque-menu .categoria-ativa a .categoria-ativa-titulo::before{
						content: '';
						position: absolute;
						top: 50%;
						right: 0;
						display: block;
						width: 16px;
						height: 7px;
						background-image: url('../img/chevron_down@1,5x.svg');
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center;
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						transform: translateY(-50%);
					}
			.pg-servicos section.servico-destaque nav.servico-destaque-menu hr{
				margin: 0;
				border: none;
				height: 1px;
				width: 100%;
				opacity: 0.1;
				background-color: #FFFFFF;
			}
			.pg-servicos section.servico-destaque nav.servico-destaque-menu ul{
			    height: 136px;
			    font-size: 0;
			}
				.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li{
					width: 12.49%;
					text-align: center;
					vertical-align: top;
					opacity: 0.5;
					background: linear-gradient(180deg, rgba(19,22,27,0) 0%, #13161B 100%);
					min-height: 136px;
				}
					.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li:before{
						content: "";
						display: block;
						width: 100%;
						height: 5px;
						background:transparent;
					}
						.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li:hover:before{
							background:#fff;
						}
					.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li:hover{
						opacity:1;
						background: transparent;
					}
					.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li.ativo:before{
							background:#fff;
						}
					.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li.ativo {
						opacity:1;
						background: transparent;
					}
					.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li a{
						padding-top: 38px;
						display: block;
						text-decoration: none;
					}
						.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li a figure{
							display: block;
							max-width: 39px;
							height: 39px;
							margin:0 auto;
							margin-bottom:16px;
						}
							.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li a img{
								display:block;
								width: 100%;
								height: auto;
							}
							.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li a h3{
								
								color: #FFFFFF;
								
								font-size: 10px;
								line-height: 11px;
								text-transform: uppercase;
								font-size: 10px;
								font-weight: 300;
							}
	.pg-servicos  .areaServicos{
		display: none;
	}
	.pg-servicos  .areaServicos.ativo{
		display: block;
	}
	.pg-servicos section.servico-lista{
		max-width: 1347px;
		margin: 0 auto;

	}
		.pg-servicos section.servico-lista .servico-lista-foto{
			
		}
			.pg-servicos section.servico-lista .servico-lista-foto figure{
			
			}
				.pg-servicos section.servico-lista .servico-lista-foto figure img{
					display: inline-block;
					width: 100%;
				    max-width: 674px;
					height: auto;
				}
				.pg-servicos section.servico-lista .servico-lista-foto figure figcaption{
			
				}
			.pg-servicos section.servico-lista .servico-lista-texto{
		
			}
				.pg-servicos section.servico-lista .servico-lista-texto article{
					padding-top: 59px;
					padding-left: 59px;
					width: 100%;
					max-width: 568px;
				}
					.pg-servicos section.servico-lista .servico-lista-texto article h2{
						color: #000000;	
						font-family: var(--michroma);	
						font-size: var(--font-size-titulo);	
						line-height: var(--line-height-titulo);
						text-transform: uppercase;
						padding-bottom: 40px;
					}
					.pg-servicos section.servico-lista .servico-lista-texto article>p{
						opacity: 0.5;	
						color: #000000;	
						font-family: var(--roboto);	
						font-size: var(--font-size-texto);	
						line-height: var(--line-height-texto);
						margin-bottom: 49px;
						max-width: 540px;
					}
					.pg-servicos section.servico-lista .servico-lista-texto article ul{
						margin-bottom: 49px;
					}
						.pg-servicos section.servico-lista .servico-lista-texto article ul li{
							color: #000000;	
							font-family: var(--roboto);		
							font-size: 12px;	
							font-weight: 500;	
							letter-spacing: 3.05px;	
							line-height: 14px;
							display: block;
							padding-left: 44px;
							position: relative;
							padding-bottom: 23px;
						}
						.pg-servicos section.servico-lista .servico-lista-texto article ul li:last-child{
							padding-bottom: 0;
						}
							.pg-servicos section.servico-lista .servico-lista-texto article ul li:before{
								content: "";
								display: block;
								background-image: url(../img/check.png);	
								background-repeat: no-repeat;
								height: 12px;	
								width: 17px;	
								position: absolute;
								top:0;
								left: 0;

							}
							.pg-servicos section.servico-lista .servico-lista-texto article ul li p{
								text-transform: uppercase;
							}
				.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos{
					padding-left: 59px;
				}	
					.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos h4{
						opacity: 0.5;	
						color: #000000;	
						font-family: var(--roboto);		
						font-size: 12px;	
						font-weight: 500;	
						letter-spacing: 3.05px;	
						line-height: 14px;
						text-transform: uppercase;
						margin: 0;
					}
						.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos ul{
							font-size: 0;
							padding-top: 20px;
						}
							.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos ul li{
								height: 95px;
								display: inline-block;
								width: 100%;	
								max-width: 181px;
								padding-right: 18px;
							}
								.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos ul li a{

								}
									.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos ul li a figure{

									}
										.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos ul li a figure img{
											width: 100%;
										}
										.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos ul li a figure figcaption{

										}
				.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-contato{
					padding-left: 59px;
					margin: 15px 0 0;
				}
					.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-contato .div-button-padrao, .pg-servicos section.servico-lista .servico-lista-texto .servico-lista-contato .whatsapp{
						display: inline-block;
						width: 100%;
						max-width: fit-content;
						vertical-align: middle;
					}
					.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-contato .div-button-padrao{
						margin-right: 30px;
					}
						.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-contato .div-button-padrao .button-padrao{
							font-weight: 400;
							font-size: 12px;
							padding: 16px 30px;
						}
					.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-contato .whatsapp{}
						.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-contato .whatsapp a{}


/* MEDIA QUERY */

@media(max-width: 1204px){
	.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos ul li {
		height: 60px;
		max-width: 135px;
	}
	.pg-servicos section.servico-lista .servico-lista-texto article ul {
		margin-bottom: 30px;
	}
	.pg-servicos section.servico-lista .servico-lista-texto article ul li {
		padding-bottom: 15px;
		padding-left: 35px;
	}
	.pg-servicos section.servico-lista .servico-lista-texto article>p {
		margin-bottom: 28px;
	}
	.pg-servicos section.servico-lista .servico-lista-texto article h2 {
		padding-bottom: 20px;
	}
	.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-contato {
		padding-left: 39px;
	}
	.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos {
		padding-left: 39px;
	}
	.pg-servicos section.servico-lista .servico-lista-texto article {
		padding-top: 29px;
		padding-left: 39px;
	}
	.pg-servicos section.servico-lista .servico-lista-texto {
		padding-right: 30px;
	}
}

@media(max-width: 1200px){}

@media(max-width: 991px){
	.pg-servicos section.servico-destaque .large-container{
		padding: 0;
	}
	.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li {
		min-height: 115px;
	}
	.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li a {
		padding-top: 15px;
	}
	.pg-servicos section.servico-destaque nav.servico-destaque-menu ul {
		height: 126px;
	}
	.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos ul li {
		height: 50px;
		max-width: 114px;
	}
}

@media(max-width: 822px){
	.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos ul li {
		height: 95px;
		height: 47px;
		max-width: 100px;
	}
	.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos h4 {
		font-size: 11px;
		letter-spacing: 2px;
	}
	.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-contato .div-button-padrao .button-padrao {
		font-size: 11px;
		padding: 12px 20px;
	}
	.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-contato .div-button-padrao {
		margin-right: 8px;
	}
	.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-contato {
		padding-left: 29px;
	}
	.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos {
		padding-left: 29px;
	}
	.pg-servicos section.servico-lista .servico-lista-texto article {
		padding-left: 29px;
	}
	.pg-servicos section.servico-lista .servico-lista-texto article h2 {
		padding-bottom: 10px;
	}
}

@media(max-width: 768px){
	.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li:before{
		display: none;
	}
	.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li {
		width: 50%;
		text-align: center;
		vertical-align: top;
		opacity: 0.5;
		background: none;
		min-height: 110px;
	}
	.pg-servicos section.servico-destaque nav.servico-destaque-menu ul {
		width: 100%;
		background-color: #13151b;
		padding: 0 24.8%;
		height: 0;
		overflow: hidden;
		-webkit-transition: ease-in-out .3s;
		-moz-transition: ease-in-out .3s;
		-ms-transition: ease-in-out .3s;
		-o-transition: ease-in-out .3s;
		transition: ease-in-out .3s;
	}
	.pg-servicos section.servico-destaque nav.servico-destaque-menu ul.show-menu-categorias{
		height: 458px;
	}
	.pg-servicos section.servico-destaque nav.servico-destaque-menu {
		padding-top: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		height: unset;
	}
	.pg-servicos section.servico-destaque{
		position: relative;
		min-height: 550px;
		background-size: cover;
		padding: 220px 30px 0;
	}
	.pg-servicos section.servico-destaque nav.servico-destaque-menu hr{
		background-color: #353535;
		opacity: 1;
	}
	.pg-servicos section.servico-destaque nav.servico-destaque-menu .categoria-ativa{
		display: block;
	}
	.pg-servicos section.servico-lista .servico-lista-foto figure {
		height: 370px;
		overflow: hidden;
		display: flex;
		align-items: center;
	}
	.pg-servicos section.servico-lista .servico-lista-foto figure img {
		display: block;
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	.pg-servicos section.servico-lista .servico-lista-texto article, .pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos, .pg-servicos section.servico-lista .servico-lista-texto .servico-lista-contato{
		padding-left: 0;
	}
	.pg-servicos section.servico-lista .servico-lista-texto {
		padding-right: 0;
		padding: 0 30px;
	}
	.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-contato .whatsapp{
		display: none;
	}
	.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos ul li {
		padding-right: 8px;
		max-width: 130px;
		height: 64px;
	}
	.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-projetos ul li:last-child{
		display: none;
	}
	.pg-servicos section.servico-lista {
		padding: 0;
	}
	.pg-servicos section.servico-lista .servico-lista-texto .servico-lista-contato{
		margin: 30px 0 0;
	}
}

@media(max-width: 600px){
	.pg-servicos section.servico-destaque nav.servico-destaque-menu .categoria-ativa a .categoria-ativa-imagem {
		max-width: 12%;
	}
	.pg-servicos section.servico-destaque nav.servico-destaque-menu .categoria-ativa a .categoria-ativa-titulo {
		max-width: 88%;
	}
	.pg-servicos section.servico-destaque nav.servico-destaque-menu ul {
		padding: 0 15.8%;
	}
}

@media(max-width: 520px){
	.pg-servicos section.servico-destaque .servico-destaque-texto p br{
		display: none;
	}
}

@media(max-width: 500px){
	.pg-servicos section.servico-destaque nav.servico-destaque-menu ul {
		padding: 0 2.5%;
	}
	.pg-servicos section.servico-destaque nav.servico-destaque-menu .categoria-ativa a .categoria-ativa-titulo {
		max-width: 84%;
	}
	.pg-servicos section.servico-destaque nav.servico-destaque-menu .categoria-ativa a .categoria-ativa-imagem {
		max-width: 16%;
	}
	.pg-servicos section.servico-lista .servico-lista-foto figure {
		height: 220px;
	}
	.pg-servicos section.servico-destaque{
		background-size: 1360px;
		background-position: top;
	}
	.pg-servicos section.servico-destaque{
		min-height: 474px;
		padding: 190px 30px 0;
	}
	.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li {
		min-height: 95px;
	}
	.pg-servicos section.servico-destaque nav.servico-destaque-menu ul li a figure {
		max-width: 35px;
		height: 35px;
		margin-bottom: 8px;
	}
	.pg-servicos section.servico-destaque nav.servico-destaque-menu .categoria-ativa {
		height: 81px;
	}
	.pg-servicos section.servico-destaque nav.servico-destaque-menu .categoria-ativa a {
		padding: 20.5px 30px;
	}
	.pg-servicos section.servico-destaque nav.servico-destaque-menu ul.show-menu-categorias {
		height: 392px;
	}
}

@media(max-width: 400px){
	.pg-servicos section.servico-destaque nav.servico-destaque-menu .categoria-ativa a .categoria-ativa-imagem {
		max-width: 22%;
	}
	.pg-servicos section.servico-destaque nav.servico-destaque-menu .categoria-ativa a .categoria-ativa-titulo {
		max-width: 78%;
	}
	.pg-servicos section.servico-destaque {
		padding: 140px 30px 0;
	}
}

@media(max-width: 395px){
	.pg-servicos section.servico-destaque .servico-destaque-texto h3.titulo br{
		display: none;
	}
}

@media(max-width: 360px){
	.pg-servicos section.servico-destaque .servico-destaque-texto h3.titulo {
		font-size: 22px;
	}
}

@media(max-width: 350px){
	.pg-servicos section.servico-lista .servico-lista-foto figure {
		height: 170px;
	}
}