.welcome-panel figure{
	padding: 0;
	width: 100%;
	margin: 0;
	max-width: 100%;
}

.welcome-panel figure img {
    border: none;
    width: 100%;
    max-width: 240px;
}

.welcome-panel h3 {
	font-size: 1.5em;
	font-weight: 300;
	margin: 0;
	padding: 0;
}
	.welcome-panel h3 strong {
	  
	}
.welcome-panel-close{
	display: none;
}
.wp-template-coluna{
	display: flex;
}
	.wp-template-coluna .template-coluna{
		width: 50%;
		padding: 10px;
	}
.wp-template-coluna iframe{
	width: 100%;
	max-width:780px;
	height: 400px;
}
.welcome-panel-content{
	width: 100%;
    max-width: 1685px;
}